.wrapper{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 5vh;
  text-align: center;
  background-color: #343a40;
  color: #fffbfb;
}

#logo {
  width: 70vh;
  height: auto;
  margin-top: 5vh;
}

h1{
  margin-bottom: 10vh;
}

#logo {
  #leftmouse,
  #rightmouse,
  #headset {
    animation: colorChange 20s infinite;
  }
  #sun {
    animation: sunColor 20s infinite;
  }
  #screen {
    animation: screenColor 20s infinite;
  }
  #first {
    animation: oneColor 20s infinite;
  }
  #second {
    animation: twoColor 20s infinite;
  }
  #third {
    animation: threeColor 20s infinite;
  }
  #river {
    animation: fourColor 20s infinite;
  }
  #fifth {
    animation: fiveColor 20s infinite;
  }
  #sixth {
    animation: sixColor 20s infinite;
  }
  #seventh {
    animation: sevenColor 20s infinite;
  }
}

@keyframes colorChange {
  0% {
    fill: black;
  }
  10% {
    fill: #fffbfb;
  }
  20% {
    fill: #fff9bf;
  }
  30% {
    fill: #ffd56a;
  }
  40% {
    fill:#ff9533;
  }
  50% {
    fill: #f77138;
  }
  60% {
    fill: #c6103c;
  }
  70% {
    fill: #820f4d;
  }
  80% {
    fill: #280734;
  }
}

@keyframes sunColor {
  0% {
    fill: black;
  }
  10% {
    fill: #fffbfb;
  }
}

@keyframes screenColor {
  0% {
    fill: black;
  }
  20% {
    fill: #fff9bf;
  }
}

@keyframes oneColor {
  0% {
    fill: black;
  }
  30% {
    fill: #ffd56a;
  }
}

@keyframes twoColor {
  0% {
    fill: black;
  }
  40% {
    fill: #ff9533;
  }
}

@keyframes threeColor {
  0% {
    fill: black;
  }
  50% {
    fill: #f77138;
  }
}

@keyframes fourColor {
  0% {
    fill: black;
  }
  60% {
    fill: #d2edfc;
  }
}

@keyframes fiveColor {
  0% {
    fill: black;
  }
  70% {
    fill: #c6103c;
  }
}
@keyframes sixColor {
  0% {
    fill: black;
  }
  80% {
    fill: #820f4d;
  }
}
@keyframes sevenColor {
  0% {
    fill: black;
  }
  90% {
    fill: #280734;
  }
}

@media (max-width: 600px) {
  #logo{
    max-width: 50vh;
    height: auto;
  }

  h1{
    font-size: 1.875em;
  }
}
