#wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
  padding: 0;
  background-color: #343a40;
  color: #fffbfb;
}

.title{
  text-align: center;
  font-size: 2em;
  margin-bottom: 5vh;
}

#details {
  margin: 10vh;
}

.dev-span{
  position: relative;
  left: 15px;
}

.dev {
  text-align: left;
}

.carousel{
  margin: auto;
  margin-bottom: 5vh;
  max-width: 100vh;
}

.carousel-indicators{
  height: 0px;
}

@media (max-width: 600px) {
  #details {
    margin: 5vh;
  }
}
