#work {
  margin: 5vh;
  padding: none;
  height: 100vh;
  width: auto;
  text-align: center;
  justify-content: center;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2vh;
}

.card-body {
  background-color: #fffbfb;
}

.card-text {
  color: #997b7b;
  background-color: #fffbfb;
}

#anchor {
  color: #fffbfb;
}
.card-title {
  color: #343a40;
  background-color: #fffbfb;
}

@media (max-width: 600px) {
  .projects {
    display: inline-block;
  }
  .card-text {
    display: none;
  }
}
